body {
  background-color: lightblue;
  font-family: 'Hannari';
}
li {
  list-style-type: square;
  margin: 10px;
}
a {
  font-weight: bold;
}
img {
  width: 500px;
}
.image_size {
  width: 300px;
}
table {
  border: 2px solid black;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
}